.fadeUp {
    animation-name: fadeUpAnime;/*アニメーションの定義名*/
    animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
    }
    
    /*アニメーションの開始から終了までを指定する*/
    @keyframes fadeUpAnime{
        0% {
            transform: translateX(100px);
        }
    
        50% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(100px);
        }
    }

    .countinfinite{
        animation-iteration-count: infinite;/*無限ループ*/
       }