body {
   background-color: #000000;
   overflow: hidden
}

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration:1s;
    }
    
.tadanoUp {
    animation-name: tadanoUpAnime;
    animation-duration:18s;
    }
    
    @keyframes fadeUpAnime{
        0% {
            transform: translateX(100px);
        }
    
        50% {
            transform: translateX(-100px);
        }

        100% {
            transform: translateX(100px);
        }
    }

    @keyframes tadanoUpAnime{
        from {
            transform: translateY(700px);
        }
    
        to {
            transform: translateY(0px);
        }
    }

    .countinfinite{
        animation-iteration-count: infinite;
       }
    .hoge{
        animation-timing-function:linear;
       } 